{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<body>
<header>



<div class="wrapper">
  <img src="{% static 'images/iiits-logo.png' %}"></img>
<nav class="navigation">
  <ul>

    <li class="active">
      <a href="index.html">Home</a>

    </li>

    <li>
      <a href="#">Attendance</a>
    </li>
    <li>
      <a href="#">Courses</a>
    </li>
    <li>
      <a href="#">Grades</a>
    </li>
    <li >
      <a href="">Events</a>
      <ul class="children sub-menu">
        <li>
          <a href="#">Almanac</a>
        </li>
        <li>
          <a href="#">Timetable</a>
        </li>
      </ul>
    </li>
  <li>
   {% if user.is_authenticated %}
     <a href="#"> Hi {{ user.username }}!</a>

	<ul class="children sub-menu">
        <a href="{% url 'logout' %}">logout</a></ul>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}</li>
  </ul>
</nav>
<!--Navigation End-->
</div></header>
{% if user.is_authenticated %}
  allo  {{ user.personnel.Role.Role_name }}
{% else %}
    Not logged in.
{% endif %}s

<footer>&copy; Copyright 2017 IIITS
<p>{{ html }}
 {{ now }}</p>


</footer>

</body>
