
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
<style>
body {
    padding-bottom: 120px;
}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SAMS Attendance</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <link href="{% static 'home/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'home/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <link href="{% static 'home/sticky-footer-navbar.css'%}" rel="stylesheet">
  </head>
  <body style="margin-bottom: 150px; margin-top:50px">


    <!-- Fixed navbar -->
   <nav class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-md">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
{% block nav-course %}
          <a class="navbar-brand"  style="padding-top:0px" href="#"><img src="{% static 'images/iiits-logo.png' %}" style=" padding: 0px;height:50px"></img></a>
{% endblock %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" id="home">Home</a></li>
            <li><a href="#about" id="attendace">Attendance</a></li>
            <li><a href="#contact" id= "courses">Courses</a></li>
            {% if user.personnel.Role.Role_name == "Faculty" %}  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="upload_assignments">Upload</a></li>
                  <li><a href="#" id="view_assignments">View</a></li>
                </ul>
              </li>

        {% else %}
	     <li><a href="#contact" id="assignments">Assignments</a></li>
       {% endif %}
	     
             <li><a href="#contact" id="events">Events</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li>{% if user.is_authenticated %}
<a href="#"> Hi {{ user.username }}!{% endif %}</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'home:EditProfile' %}">Profile Settings</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script>
    	  Student_Home="{% url 'students:index'  %}";
          Student_Attendance="{% url 'students:ViewAttendance'  %}";
          Student_Assignments="{% url 'students:AssgnSubStatusPending' %}";
          Student_Timetable="{% url 'students:event' %}";
          Student_Courses="{% url 'students:addDropCourses' %}";


	  Faculty_Home="{% url 'faculty:ViewProfs' %}";
          Faculty_Attendance="{% url 'faculty:ViewAttendance' %}";
          Faculty_UploadAssignments="{% url 'faculty:AddAssignment' %}";
          Faculty_ViewAssignments="{% url 'faculty:ViewAssignment' %}";
          Faculty_Courses="{% url 'faculty:OfferCourses' %}";
          
          Faculty_Events="{% url 'faculty:index' %}";

	  {% if user.personnel.Role.Role_name == "Student"%}
          document.getElementById("home").setAttribute("href",Student_Home);
          document.getElementById("attendace").setAttribute("href",Student_Attendance);
          document.getElementById("assignments").setAttribute("href",Student_Assignments);
          document.getElementById("courses").setAttribute("href",Student_Courses);
          document.getElementById("events").setAttribute("href",Student_Timetable);
          {%endif%}



          {% if user.personnel.Role.Role_name == "Faculty" %}
          console.log("killllllllllllllmmmmmmmee");
          document.getElementById("home").setAttribute("href",Faculty_Home);
          document.getElementById("attendace").setAttribute("href",Faculty_Attendance);
          document.getElementById("upload_assignments").setAttribute("href",Faculty_UploadAssignments);
          document.getElementById("view_assignments").setAttribute("href",Faculty_ViewAssignments);
          document.getElementById("courses").setAttribute("href",Faculty_Courses);
          document.getElementById("events").setAttribute("href",Faculty_Events);

          {%endif%}
var jQuery_1_3_2 = $.noConflict(true);
    </script>
<div class="container">
  <br>
{% block content %}
{%  endblock %}
</div>

   
    <link href="{% static 'home/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

<script src="{% static 'home/bootstrap/dist/js/bootstrap.min.js'%}"></script>

 <link href="{% static 'home/sticky-footer-navbar.css'%}" rel="stylesheet">


<footer class="footer" style="position: absolute;bottom: 0px;width: 100%;text-align: center;color: white;height: 80px;background-color: #222222;">
  <a class="navbar-brand" href="#"><img src="{% static 'images/iiits-logo.png' %}" style="height:50px"></img></a>
      <div class="container">&copy; Copyright 2017 IIITS
<p>{{ html }}{% now "jS F Y H:i" %}
 </p>
      </div>
    </footer>
    <script src="{% static 'home/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

</body>
