amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
Django==1.11.29
django-celery==3.2.1
django-celery-beat==1.0.1
django-cors-headers==2.1.0
django-extensions==1.9.1
django-filter==1.0.4
djangorestframework>=3.9.1
djangorestframework-jwt==1.11.0
easygui==0.98.1
kombu==3.0.37
ldif3==3.2.2
Markdown==2.6.9
PyJWT==1.5.3
PyMySQL==0.7.2
python-dateutil==2.6.1
pytz==2017.2
redis==2.10.6
six==1.11.0
sqlparse==0.1.18
whitenoise==3.3.1
