MySQL-python==1.2.5
Django==1.11.4
django-cors-headers==2.1.0
django-extensions==1.9.1
django-filter==1.0.4
djangorestframework==3.7.0
djangorestframework-jwt==1.11.0
PyJWT==1.5.3
pytz==2017.2
ldif3
redis
celery==3.1.25
django_celery_beat
django_celery
django-filter==1.0.4
markdown==2.6.9
