{% extends 'home/index.html' %}
{% block content %}


  <title>OverdueAssignments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->

<body>

<div class="container">
  <ul class="nav nav-tabs">

	<li><a data-toggle="tab" href="{% url 'students:AssgnSubStatusPending' %}">Pending Assignments</a></li>
	<li><a data-toggle="tab" href="{% url 'students:AssgnSubStatusSubmitted' %}">Submitted Assignments</a></li>
    <li class="active"><a data-toggle="tab" href="{% url 'students:AssgnSubStatusOverdue' %}">Overdue Assignments</a></li>





  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active">
		<h1>View Overdue Assignments</h1>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8" style="margin-top:2%">
				<div class="container-fluid">                                                                                  
					<div class="table-responsive">          
						<form action="/student/register/" method="post">
						<table class="table table-striped">
							{% csrf_token %}
							<tr>
								<th style="width: 15%"><center>AssignmentID</center></th>
								<th style="width: 45%"><center>CourseName</center></th>
								<th style="width: 40%"><center>Download</center></th>
							</tr>
							{% for k in overdueAssignments %}
							<tr>
								<td><center>{{k.assignment.Assign_ID}}</center></td>
								<td><center>{{k.Course.Course_ID}}</center></td>
								<td><center><a href={{k.assignment.Assignment_File}} id="download" download>download</a></center></td>
							</tr>
							{% endfor %}	
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
    </div>
  </div>
</div>
</body>
{% endblock %}



