<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>


</style>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-body"><h1>View Submission Status</h1></div>
</div>
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
       <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Course
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
    </div>
    <div class="col-md-1">
       <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Assignment
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
    </div>
    <div class="col-md-7"></div>
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimpicker();
            });
        </script>

</div>
  <br>
  <br>
  <div class="row align-items-start">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="background: grey">
      <div class="container-fluid">
        <div class="row" style="font-size: 20px">
          <div class="col-md-6">Assignment No:</div>
          <div class="col-md-6">Course Name:</div>
        </div>
        <br>
        <br>
                <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" style="font-size: 28px">Submission status:</div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <br>
                <div class="row" style="font-size: 20px">
          <div class="col-md-6">Deadline:</div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    <br>
  </div>
</div>
</body>
</html>