<!DOCTYPE html>
<html >
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <title>Course Registration</title>
    <style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    	body
    	{
    		background-color:#FFF;
    		height: 100vh;
		    font-family: 'Open Sans';
		    font-size:2vh;
		    overflow-x:hidden;
		    color:#555;
    	}
    	p
    	{
    		font-family: 'Open Sans';
		    font-size:3vh;
		    overflow-x:hidden;
		    color:#555;

    	}
    	.info-box
    	{
    		background-color:#DDD;
    		height: :30vh;
    	}
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <p>Name :  Student Name</p>
            <p>Roll Number : Student Roll No </p>
            <table class="table table-striped table-hover">
                <tr>
                    <th width="5%">Sel</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Professor</th>
                </tr>
                <tr>
                    <td> <input type = "checkbox" class="list-group-item"  /></td>
                    <td>Theory Of Computation</td>
                    <td>4</td>
                    <td>Dr Viswanath</td>
                </tr>
                <tr>
                    <td> <input type = "checkbox" class="list-group-item"  /></td>
                    <td>Concepts Of DOTA</td>
                    <td>2</td>
                    <td>Dr Navi Dendi</td>
                </tr>
                <tr>
                    <td> <input type = "checkbox" class="list-group-item"  /></td>
                    <td>ITS</td>
                    <td>4</td>
                    <td>Dr Nagesh Kolgani</td>
                </tr>
                <tr>
                    <td> <input type = "checkbox" class="list-group-item"  /></td>
                    <td>Introduction to DOTA</td>
                    <td>4</td>
                    <td>Dr Sajas Pandit</td>
                </tr>
                <tr>
                    <td> <input type = "checkbox" class="list-group-item"  /></td>
                    <td>Advanced Carry Theory (DOTA)</td>
                    <td>4</td>
                    <td>Dr Rajeev xSmart</td>
                </tr>

            </table>
            <button class="btn button btn-primary">SUBMIT</button>
        </div> 
    </div>
</body>