{% extends 'home/index.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upcoming Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="tab-content">
    <div class="tab-pane fade in active">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8" style="margin-top:2%">
				<div class="container-fluid">
					<div class="table-responsive">
						<form action="/student/register/" method="post">
						<table class="table table-striped">
							{% csrf_token %}
							<tr>
								<th style="width: 15%"><center>EventID</center></th>
								<th style="width: 45%"><center>Event Name</center></th>
								<th style="width: 40%"><center>Event Date</center></th>
							</tr>
							{% for k in events %}
							<tr>
								<td><center>{{k.event.Event_ID}}</center></td>
								<td><center>{{k.event.Event_Name}}</center></td>
								<td><center>{{k.event.Event_Date}}</center></td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
    </div>
  </div>
</div>
</body>
</html>



