{% extends 'home/index.html' %}
{% block content %}
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <title>Attendance Register</title>
    <style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    	body
    	{
    		background-color:#EEE;
    		height: 100vh;
		    font-family: 'Open Sans';
		    font-size:2vh;
		    overflow-x:hidden;
		    color:#555;
    	}
    	p
    	{
    		font-family: 'Open Sans';
		    font-size:3vh;
		    overflow-x:hidden;
		    color:#555;

    	}
    	.info-box
    	{
    		background-color:#DDD;
    		height: :30vh;
    	}
    </style>

	<div id="absent-days" class="modal fade" role="dialog">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
   				 	<h4 class="modal-title">Absent Days</h4>
 			 	</div>
      			<div class="modal-body">
    				<ul id="modal-content">
    				</ul>
     			</div>
  				<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
			 </div>

  		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Attendace Register</h1>	 	
		 	<div class="row">
			 	<div class="form-group col-md-2">
					<label for="sel1">Course</label>
		  			<select class="form-control" id="sel1" onchange="getData()">
                        <option value="default">Select a course</option>
                          {% for i in CourseAttendanceContext %}
                      <option value="{{i.course.Course_ID.Course_Name}}">{{i.course.Course_ID.Course_Name}}</option>
                          {% endfor %}
					 </select>
				</div>
			</div>
			<div class="info-box col-md-4" style="height:60vh">
				<br />
				<p>Number of classes Taken : <span id ="classesTaken" class="label label-default">None</span></p><br />
				<p>Number of classes Attended : <span id="classesAttended" class="label label-primary">None</span></p><br />
				<p>Number of classes Absent : <span id="classesAbsent" class="label label-danger">None</span> <button class="btn button btn-info" style="margin-left: 10"%; data-toggle="modal" data-target="#absent-days">Absent Days</button></p><br />
				<p>Attendance Percentage : <span id="Percentage" class="label label-info">None</span></p><br />
			</div>
		</div>
        <script>  
            //getting info
            var courses = [];
            var total = [];
            var present = [];
            var absent = [];
            var temp = 0;
            {% for i in CourseAttendanceContext %}
            courses.push("{{i.course.Course_ID.Course_Name}}");
            total.push("{{i.total}}");
            present.push("{{i.present}}");
            absent[temp] = [];
            {% for k in i.absentDays %}
            absent[temp].push("{{k}}"); 
            {% endfor %}
            temp = temp + 1;
            {% endfor %}
        </script>
	</div>
        <script>
            //var percent=
            document.getElementById("Percentage").innerHTML = 0;
            function getData() {
                var course = document.getElementById("sel1").value;
                if (course == "default") {
                    document.getElementById("classesTaken").innerHTML = "None";
                    document.getElementById("classesAttended").innerHTML = "None";
                    document.getElementById("classesAbsent").innerHTML = "None";
                    document.getElementById("Percentage").innerHTML = "None";
                    document.getElementById("modal-content").innerHTML = 0;
                }
                else {
                    var id = courses.indexOf(course);
                    document.getElementById("classesTaken").innerHTML = total[id];
                    document.getElementById("classesAttended").innerHTML = present[id];
                    document.getElementById("classesAbsent").innerHTML = absent[id].length;
                    document.getElementById("Percentage").innerHTML = parseInt(present[id]) / parseInt(total[id]) || 0;
                    document.getElementById("modal-content").innerHTML = create_model(id);
                }
            }
            function create_model(id){
                var text = "";
                for (i = 0; i < absent[id].length;i++) {
                    text +="<li>"+absent[id][i]+"</li>"+"<br>";
                }
                return text;
            }
    </script>
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}