{% extends "home/index.html" %}
{% block content %}
<style>
.abc{
background-color:black;
color:white !important;
}
h3,h2{
font-family:"Times New Roman";
}
h5{
font-family:"Times New Roman";
text-decoration:none;
color:black;
}
#tab{
margin-top:55px;
position:absolute;
top:100px;
left:50px;
}
.panel-body{
  background:#e3e5e8;
}
</style><br>
<div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="deadlines" >Deadlines</button>
        <button type="button" class="btn btn-default" id="clicked1"  >My Library</button>
</div>
<div class="panel panel-default">
        <div class="panel-heading" style="background:#222222;color:white; align:left;">
                {{CourseName}} Assignment Deadlines
        </div>
<div class="panel-body"><center>
<script type="text/javascript">
    document.getElementById("deadlines").onclick = function () {
        location.href = "{% url 'faculty:ViewAssignment' %}";
    };
document.getElementById("clicked1").onclick = function () {
        location.href = "{% url 'faculty:MyLibrary' %}";
    };
</script>
<br>

{% if Assignments %}
<table id="tblSample" class="table table-bordered" style="background:white; width:80%;">
<thead style="background: #333333;color:white">
<tr>
  <th>Assignment</th>
<th>Deadline</th>
</tr>
</thead>
<tbody>
{% for document in Assignments %}
<tr>
    <td><a href="{{document.Assignment_File.url}}" target="_blank"><h5><b>{{ document.Assignment_File.name|slice:"18:" }}</b></h5></a></td>
    <td><h5><b>{{document.End_Time.date}}</b></h5></td>
</tr>
    {% endfor %}
</tbody>
</table>

{% else %}
<h1 style="color:red;">OOPS! No documents</h1> 
{% endif %}
</center>
</div>
</div>
{% endblock %}
