{% extends "home/index.html" %}
{% block nav-course %}
          <a class="navbar-brand" href="#">{{CourseName}}</a>
{% endblock %}
{% block content %}

<style>
.abc{
background-color:black;
color:white !important;
}
h3{
font-family:"Times New Roman";
}
</style>
<center>
<br>
<h3><b>Student Attendance List</b></h3>
<h3><b>Number Of Classes:{{workingdays}}</b></h3>
<br>
<div class="container">
<table id="tblSample" class="table table-inverse table-hover" border="1">
<thead class="tabel table-inverse abc">
<tr>
  <th>Student ID</th>
<th>Student Name</th>
  <th>Number of Leave days</th>

</tr>
</thead>
<tbody>
{% for key,value in classes.items %}
<tr>

  <td>{{key}}</td> 
  <td>{{value.0}}</td>
<td>{{value.1}}</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
</center>
{% endblock %}
