{% extends "home/index.html" %}
{% block content %}

<style>
.abc{
background-color:black;
color:white !important;
}
h3,h2{
font-family:"Times New Roman";
}
</style>
<center>
<h2>{{CourseName}} Attendance</h2>
<div class="container">
<table id="tblSample" class="table table-inverse table-hover" border="1">
<thead class="tabel table-inverse abc">
<tr>
  <th>Session Date</th>
<th>Students Present</th>
 </tr>
</thead>
<tbody>
{% for key,value in sessions.items %}
<tr>
<td>{{value.0}}</td>
<td><a  href="../details?id={{key}}">{{value.1}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</center>
<script>
</script>
{% endblock %}
