{% extends "home/index.html" %}
{% block nav-course %}
          <a class="navbar-brand" href="#">{{CourseName}}</a>
{% endblock %}
{% block content %}

<style>
.abc{
background-color:black;
color:white !important;
}
h3,h2{
font-family:"Times New Roman";
}
</style>
<center>
<h3>{{CourseName}} Attendance Status on {{date}}</h3>
<div class="container">
<table id="tblSample" class="table table-inverse table-hover" border="1">
<thead class="tabel table-inverse abc">
<tr>
  <th>Student ID</th>
<th>Student Name</th>
 </tr>
</thead>
<tbody>
{% for student in students %}
<tr>
<td>{{student.Student_ID.Person_ID}}</td>
<td>{{student.Student_ID.LDAP.username}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</center>
<script>
</script>
{% endblock %}

