
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#duration1" ).datepicker({dateFormat:'yy-mm-dd'}).val();
  } );
  </script>
{% extends "home/index.html" %}

{% block content %}
<style>
h3,h2{
font-family:"Times New Roman";
}
.upload{
background-color:black !important;
color:white !important;
border-radius:10px;
margin-left:80px;
height:35px;
}
.reset{
background-color:#999999 !important;
color:white !important;
border-radius:10px;
height:35px;
}
.file{
margin-left:15px;
}
#duration1{
margin-left:5px;
}
input[type=file] {
    display: inline-block;
}
</style>
<br>
<p id="demo"></p>
<script>
var c={{success}};
console.log(c);
var r={{success}};
if(r==1){
	var t='<div class="alert alert-success"> <strong>Successfully Uploaded!</strong></div>';
	document.getElementById("demo").innerHTML=t;
	window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
}
else if(r==2){
	var t='<div class="alert alert-danger"> <strong>OOPS! Select a valid Deadline</strong></div>';
	document.getElementById("demo").innerHTML=t;
	window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
}
</script>

<center><h3><b>Upload {{CourseName}} Assignment</b> </h3></center>
<br>
<center>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
        <table><tr><td align="right" width="35%"><h3><b>File:</b></h3></td><td width="60%"><input type="file" class="file" name="file" required ></td></tr></table><br>
	<label><h3><b>End Date</b></h3></label>&nbsp<input  type="date" name="enddate" id="duration1" required><br><br>
        <input type="submit" class="upload" value="Upload">
        <input type="reset" value="Reset"class="reset" >
    </form></center>
{% endblock %}
