<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% extends "home/index.html" %}
{% load static %}
{% load faculty_extras %}
{% block content %}

<style>
.abc{
background-color:black;
color:white !important;
}
#tab{

position:absolute;
top:100px;
left:50px;
}
h5{
font-family:"Times New Roman";
text-decoration:none;
color:black;
}
h3,h2{
font-family:"Times New Roman";
}
div#left {
    width:15%;
    float:left;
}
.file {
    visibility: hidden;
    position: absolute;
  }
  .file{
margin-left:15px;
}
.upload{
position:relative;
right:40px;
}

#main{
width:1000px;

text-align:center;
}
#main div{
display:inline-block;
}
.panel-body{
  background:#e3e5e8;
}
</style>
<br>
<p id="demo"></p>
<script>
var r={{success}};
if(r==1){
	var t='<div class="alert alert-success"> <strong>Successfully Uploaded!</strong></div>';
	document.getElementById("demo").innerHTML=t;
	window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
}
</script>

<div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="deadlines" >Deadlines</button>
        <button type="button" class="btn btn-default" id="clicked1"  >My Library</button>
      </div>
      <div class="panel panel-default">
            <div class="panel-heading" style="background:#222222;color:white; align:left;">
                    {{CourseName}} Library
            </div>
    <div class="panel-body">
<script type="text/javascript">
    document.getElementById("deadlines").onclick = function () {
        location.href = "{% url 'faculty:ViewAssignment' %}";
    };
document.getElementById("clicked1").onclick = function () {
        location.href = "{% url 'faculty:MyLibrary' %}";
    };
    $(document).on('click', '.browse', function(){
          var file = $(this).parent().parent().parent().find('.file');
          file.trigger('click');
        });
        $(document).on('change', '.file', function(){
          $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
        });
</script>
<form action="{% url 'faculty:MyLibrary' %}" method="post" enctype="multipart/form-data">
    <!--{% csrf_token %}
      <input type="file"  id="file" onchange="this.form.submit()" name='files' multiple />
      </form></center>-->
      {% csrf_token %}
      <div class="form-group">
              File:<input type="file" class="file" onchange="this.form.submit()"  name="files" multiple required >
              <div class="input-group col-xs-12">
            <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
            <input type="text" class="form-control input-lg" disabled placeholder="Upload File">
            <span class="input-group-btn">
              <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
            </span>
          </div>
      </div>
  </form>
  <center>
{% if MyLibList %}

<table id="tblSample" class="table table-bordered" style="background:white; width:80%;">
<thead style="background: #333333;color:white">

<th width="50%">File Name</th>
<th width="20%">Size</th>
<th>Uploaded On</th>
</thead>
{% for document in MyLibList %}
<tr >
<td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD7SeZ_d0TQKBXnwh2JEl3BPErckP2H9sdR5XfqlOOw8CoiJ8l" alt="{{ document.Assignment_File.name }}" width="20" height="20" border="1"><a href="{{document.Assignment_File.url}}" target="_blank"><b><span style="color:black;font-family:Times New Roman;">{{ document.Assignment_File.name|slice:"18:" }}</span></b></a></td>

<td width="20%">{{ document.Assignment_File.size|multiply:0.000001}} MB</td>


<td>{{ document.Start_Time}}</td>
</tr>


    {% endfor %}
</table>

{% endif %}
</center>
</div>
</div>
    {% endblock %}
