
{% extends "home/index.html" %}
{% load static %}
{% load faculty_extras %}
{% block content %}

<style>
.abc{
background-color:black;
color:white !important;
}
#tab{

position:absolute;
top:100px;
left:50px;
}
h5{
font-family:"Times New Roman";
text-decoration:none;
color:black;
}
h3,h2{
font-family:"Times New Roman";
}
#clicked1{
background-color:black !important;
color:white !important;
border-radius:10px;
height:35px;
}
#deadlines{
background-color:#999999 !important;
color:white !important;
border-radius:10px;
height:35px;
}
div#left {
    width:15%;
    float:left;
}
#file{
position:absolute;
top:100px;
right:0px;
}
.upload{
position:relative;
right:40px;
}

#main{
width:1000px;

text-align:center;
}
#main div{
display:inline-block;
}
</style>
<br>
<p id="demo"></p>
<script>
var r={{success}};
if(r==1){
	var t='<div class="alert alert-success"> <strong>Successfully Uploaded!</strong></div>';
	document.getElementById("demo").innerHTML=t;
	window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
}
</script>
<center><h3><b>{{CourseName}} Library</b></h3></center>
<div id="tab">
<table>
<tr>
<button id="deadlines" >Deadlines</button>
<button id="clicked1"  >My Library</button>
</tr>
</table>
</div>
<script type="text/javascript">
    document.getElementById("deadlines").onclick = function () {
        location.href = "{% url 'faculty:ViewAssignment' %}";
    };
document.getElementById("clicked1").onclick = function () {
        location.href = "{% url 'faculty:MyLibrary' %}";
    };
</script>
</div>
{% if MyLibList %}
<center>
<div class="container">
<table class="table table-inverse table-hover" >
<thead class="tabel table-inverse abc">

<th width="50%">File Name</th>
<th width="20%">Size</th>
<th>Uploaded On</th>
</thead>
{% for document in MyLibList %}
<tr >
<td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD7SeZ_d0TQKBXnwh2JEl3BPErckP2H9sdR5XfqlOOw8CoiJ8l" alt="{{ document.Assignment_File.name }}" width="20" height="20" border="1"><a href="{{document.Assignment_File.url}}" target="_blank"><b><span style="color:black;font-family:Times New Roman;">{{ document.Assignment_File.name|slice:"18:" }}</span></b></a></td>





<td width="20%">{{ document.Assignment_File.size|multiply:0.000001}} MB</td>



<td>{{ document.Start_Time}}</td>
</tr>


    {% endfor %}
</table>
</div>
</center>

{% endif %}
<center>
<form action="{% url 'faculty:MyLibrary' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
	<input type="file"  id="file" onchange="this.form.submit()" name='files' multiple />
    </form></center>
{% endblock %}
