
{% extends "home/index.html" %}
{% load static %}
{% block nav-course %}
          <a class="navbar-brand" href="#">{{CourseName}}</a>
{% endblock %}
{% block content %}

<style>
#tab{
margin-top:55px;
position:absolute;
top:100px;
left:50px;
}
h3{
font-family:"Times New Roman";
}
#clicked1{
background-color:black !important;
color:white !important;
border-radius:10px;
height:35px;
}
#deadlines{
background-color:#999999 !important;
color:white !important;
border-radius:10px;
height:35px;
}
div#left {
    width:15%;
    float:left;
}
#file{
position:absolute;
top:100px;
right:0px;
}
.upload{
position:relative;
right:40px;
}
h5{
font-family:"Times New Roman";
text-decoration:none;
color:black;
}
#main{
width:1000px;

text-align:center;
}
#main div{
display:inline-block;
}
</style>
<br>
<p id="demo"></p>
<script>
var r={{s}};
if(r==1){
	var t='<div class="alert alert-success"> <strong>Successfully Uploaded!</strong></div>';
	document.getElementById("demo").innerHTML=t;
	window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
}
</script>
<center><h3><b>MyLibrary</b></h3></center>
<div id="tab">
<table>
<tr>
<button id="deadlines" >Deadlines</button>
<button id="clicked1"  >My Library</button>
</tr>
</table>
</div>
<script type="text/javascript">
    document.getElementById("deadlines").onclick = function () {
        location.href = "{% url 'faculty:ViewAssignment' %}";
    };
document.getElementById("clicked1").onclick = function () {
        location.href = "{% url 'faculty:MyLibrary' %}";
    };
</script>
</div>
{% if MyLibList %}
<div id="main" class="container">
{% for document in MyLibList %}
<div id="limit">
    <a href="{{document.Assignment_File.url}}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD7SeZ_d0TQKBXnwh2JEl3BPErckP2H9sdR5XfqlOOw8CoiJ8l" alt="{{ document.Assignment_File.name }}" width="60" height="60" border="1"></a> 
<p id="limit1"><h5><b>{{ document.Assignment_File.name|slice:"18:" }}</b></h5></p>

</div>
    {% endfor %}
</div>
{% endif %}
<center>
<form action="{% url 'faculty:MyLibrary' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
	<input type="file"  id="file" onchange="this.form.submit()" name='files' multiple />
    </form></center>
{% endblock %}
