{% extends "home/index.html" %}
{% block core %}
 <a class="navbar-brand" id="navcourse" href="{% url 'faculty:CoursePage' %}">{{CourseName}}</a>
{% endblock %}
{% block head %}
<script>
var vag= document.ElementById('marks');
console.log(vag);

function getContent(){
var s=$('#mytable').html();
console.log(s);
}

function addColumn(tblId)
{
	var tblHeadObj = document.getElementById(tblId).tHead;
	for (var h=0; h<tblHeadObj.rows.length; h++) {
		var newTH = document.createElement('th');
		tblHeadObj.rows[h].appendChild(newTH);
		newTH.innerHTML = '[th] row:' + h + ', cell: ' + (tblHeadObj.rows[h].cells.length - 1)
	}

	var tblBodyObj = document.getElementById(tblId).tBodies[0];
	for (var i=0; i<tblBodyObj.rows.length; i++) {
		var newCell = tblBodyObj.rows[i].insertCell(-1);
		newCell.innerHTML = '[td] row:' + i + ', cell: ' + (tblBodyObj.rows[i].cells.length - 1)
	}
}
function deleteColumn(tblId)
{
	var allRows = document.getElementById(tblId).rows;
	for (var i=0; i<allRows.length; i++) {
		if (allRows[i].cells.length > 1) {
			allRows[i].deleteCell(-1);
		}
	}
}
</script>
{% endblock %}
{% block addcontent %}
<br>
<form action="" method="POST">
{% csrf_token %}

<div id="mytable">
<table id="tblSample"class="table table-hover"name="hello" border="1">
<thead class="thead-inverse">
<tr>
  <th>Student ID</th>
<th>Student Name</th>

{% for assign in assignid %}
  <th>{{assign}}</th>
  {% endfor %}
</tr>
</thead>
<tbody>
{% for student in students %}
<tr>
  <td>{{student.Student_ID.Person_ID}}</td>
<td>{{student.Student_ID.LDAP.username}}</td>
 {% for assign in assignid %}
<td contenteditable="true" name="assign" id="marks"></td>
{% endfor %}
</tr>
{% endfor %}

</tbody>
</table>
</div>
<input type="submit" onclick="getContent();"name="Save1" value="Save">
</form>


{% endblock %}
