
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% block link %}
{% endblock %}

{% block head %}
{% endblock %}
</head>
<style>
.nav > li > a:hover{
	background-color: #000099;
}

</style>

<div class="fluid-container">
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse abc">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{% block core %}
  <a class="navbar-brand" id="navcourse" href="{% url 'faculty:CoursePage' %}">Navbar</a>
{% endblock %}
  <div class="collapse navbar-collapse main" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle abc active" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Assignments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'faculty:AddAssignment' %}">Upload</a>
          <a class="dropdown-item" href="{% url 'faculty:Delass' %}">View</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="{% url 'faculty:ViewAttendance' %}" >Attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'faculty:index' %}" >Students</a>
      </li>
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle abc active" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Schedules
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Time Table</a>
          <a class="dropdown-item" href="#">Almanac</a>
        </div>
      </li>
	<li class="nav-item">
        <a class="nav-link active" href="{% url 'faculty:OfferCourses' %}">Offer Courses</a>
      </li>
    </ul>
  </div>
</nav>
{% block addcontent %}
{% endblock %}


</div>
