{% extends "home/index.html" %}
{% block content %}

<style>
h3{
font-family:"Times New Roman";
}
.panel-default > .panel-heading-custom {
    background: #222222;
     color: #fff;
}

#description{
width:50%;
height:70%;


}
</style>
<br><br>




<div class="panel panel-default">
  <div class="panel-heading" style="background:#222222;color:white;">
    Course Details
  </div>
  <div class="panel-body" style="background:#e3e5e8">
    <ul class="list-group">
   <li class="list-group-item"><b>Course Name:</b>&nbsp{{Course.Course_Name }}</li>
   <li class="list-group-item"><b>Course Credits:</b>&nbsp{{Course.Course_Credits }}</li>
   <li class="list-group-item"><b>Course Description</b><div id="description">{{Course.Course_description}}</div>


<form id = "citizenForm" action="{% url 'faculty:CoursePage' %}" method="post" style="display:none">
{% csrf_token %}
<textarea class="form-control" style="background:#f2f2f2;" rows="2" cols="50" maxlength="255" name="coursedes">{{Course.Course_description}}</textarea>
 <br><input type="submit" id="save" name="action" class="btn" style="background:#222222;color:white;" value="Save">
</form>
</li>
<br>
<button id= "citizenBtn" class="btn" style="background:#222222;color:white;" onclick="showForm('citizenForm')">Edit</button>
</div>
</div>
<script>
var showForm = function(id){
  document.getElementById(id).style.display = '';
}
 var button = document.getElementById('citizenBtn')
    button.addEventListener('click',hideshow,false);
    function hideshow() {
        this.style.display = 'none'
    }
</script>
{% endblock %}
