{% extends "home/index.html" %}
{% block content %}

<style>

label{
    display:inline;

}
.checkbox{
  align-self: center;
}
/*Please do not remove below checkbox class */
/* Above comment duly ignored. Regards, IT Dept */
.panel-body{
  background:#e3e5e8;
}
</style>
</head>
<div class="panel panel-default">
  <div class="panel-heading" style="background:#222222;color:white; align:left;">
    Course Offerings
  </div>
  <div class="panel-body"><center>
<table id="tblSample" class="table table-bordered" style="background:white; width:80%;">
<thead style="background: #333333;color:white">
<tr>
<th>Course</th>
  <th>Faculty </th>
</tr>
</thead>
<tbody>
{% if Courses %}
{% for course in Courses %}

<tr>
<td>
 <form action="{% url 'faculty:OfferCourses' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="checkbox">
  <label>
     <input type="checkbox"  style="background-color:red !important; color:yellow !important;" id="{{ course.Course_ID }}" onchange="cTrig(id)" name="courses[]" value="{{ course.Course_ID }}">
     <b>{{course.Course_Name}}</b>
  </label>
</form>
</div>
</td><td></td></tr>
        <br>
    {% endfor %}
{% else %}

<div class="alert alert-info" role="alert" style="width:80%;">No Courses to Offer</div>
{% endif %}

{% for instructor in IC %}
<tr>
<td ><div class="checkbox">
  <label>
     <input type="checkbox" disabled="disabled" checked="checked">
    <h5><b>{{instructor.Course_ID.Course_Name}}</b></h5>
  </label>
</div></td><td><h5><b>{{instructor.Inst_ID.LDAP.username}}</b></h5></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script>
var courses=JSON.parse('{{Courses1|escapejs}}');
console.log(courses);
function cTrig(clickedid) {
      if (document.getElementById(clickedid).checked == false) {
        return false;
      } else {
var courseid=document.getElementById(clickedid).value;
for(i=0;i<courses.length;i=i+2)
{
if(courses[i]==courseid)
{
var coursename=courses[i+1];
break;
}
 }      var box= confirm('Confirm offering '+' '+coursename+' ?');
        if (box==true)
{
		document.getElementById(clickedid).form.submit();
            return true;
}
        else
           document.getElementById(clickedid).checked =false;
      }
    }
$(document).ready(function(){
    $('input[type="checkbox"]').click(function(){
        var inputValue = $(this).attr("value");
        $("." + inputValue).toggle();
    });
});
</script>
{% endblock %}
