

<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#duration').datepicker({dateFormat:'yy-mm-dd'}).val();
    })
}
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#duration1').datepicker({dateFormat:'yy-mm-dd'}).val();
    })
}
</script>
<style>
th, td {
    padding: 3px;
}
.abc{
background-color:black;
color:white !important;
}
/*Please do not remove below checkbox class */
#unoffered{
background-color:black;
color:white;
font-size:20px;
text-align:center;
}

table.some_style tr:hover{background-color:#FAF0E6;}
.left{width:60%;float:left;resize:both;}
#right{width:40%;float:right;}

</style>

</head>

<div class="left" >

<table id="tblSample" class="some_style" border="1" >
<thead class="tabel table-inverse abc">
<tr>
  
  <th>Faculty </th>
<th>Offered Course</th>
  
</tr>
</thead>
<tbody>
{% for instructor in IC %}
<tr>
  <td>{{instructor.Inst_ID.LDAP.username}}</td>
<td >
     <input type="checkbox" disabled="disabled" checked="checked">
     <i class="helper"></i>{{instructor.Course_ID.Course_Name}}
  </td> 

</tr>
{% endfor %}
</tbody>
</table>

</div>




<div id="right">

<ol>
<p id="unoffered"><b>Unoffered Courses</b></p>

{% if Courses %}

    {% for course in Courses %}
    
            <form action="{% url 'faculty:OfferCourses' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}



     <input type="checkbox" name="courses[]" value="{{ course.Course_ID }}">
     <i class="helper"></i>{{course.Course_Name}}
  

        <br>
    {% endfor %}

<br>
 <label>Start Date</label><input type="date" name="startdate" id="duration"required><br><br>
 <label>End Date</label><input  type="date" name="enddate" id="duration1"required>
<br>
<br>
<input type="submit" onclick="clicked();" value="Submit" />
        </form>

{% else %}
<br><h1 style="color:red;">No Courses To Offer</h1>
{% endif %}
</ol>
<p id="demo"></p>
</div>
<script>
 function clicked() {

	    var t='<div class="alert alert-success"> <strong>Success!</strong></div>';
document.getElementById("demo").innerHTML=t;
        
    }
</script>

