
{% extends "home/index.html" %}
{%  load staticfiles %}

{% block content %}
    <link rel='stylesheet' href="{% static "Fullcalendar/js/Fullcalendar/fullcalendar.css" %}" />
<script src="{% static "Fullcalendar/js/lib/jquery.min.js" %}"></script>
    <script src="{% static "Fullcalendar/js/lib/moment.min.js" %}"></script>
<script src="{% static "Fullcalendar/js/Fullcalendar/fullcalendar.js" %}" ></script>
 <script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...
        var date1 = new Date();
        var d = date1.getDate();
        var m = date1.getMonth();
        var y = date1.getFullYear();

        function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}


    $('#calendar').fullCalendar({
        // put your options and callbacks here
        editable: true,
    weekMode: 'liquid',
    url:'#',
         timeFormat: "hh:mm",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                allDaySlot: false,
                firstDay: 0,
                weekMode: 'liquid',
{#                slotMinutes: 15,#}
{#                defaultEventMinutes: 30,#}
{#                minTime: 8,#}
{#                maxTime: 20,#}
                editable: true,
                dayClick: function(date, allDay, jsEvent, view) {
                    if (allDay) {
                        $('#calendar').fullCalendar('gotoDate', date)
                        $('#calendar').fullCalendar('changeView', 'agendaDay')
                    }
                },
                eventClick: function(event, jsEvent, view) {
                    if (view.name == 'month') {
                        $('#calendar').fullCalendar('gotoDate', event.start)
                        $('#calendar').fullCalendar('changeView', 'agendaDay')
                    }

                },

/*
            events: [
                {
                    title: 'Test1',
                    start: new Date(y, m, 1, 9, 00),
                    end: new Date(y, m, 1, 10, 00),
                    allDay: false
                },
                {
                    title: 'Test2',
                    start: new Date(y, m, 2, 16, 00),
                    allDay: false
                }

            ]*/
        events: {{ Events|safe }}
{#        eventColor:getRandomColor()#}

    })

});

</script>
<div id='calendar'>
calendar
</div>


{% endblock %}
